<table class="table">
    <tr>
        <td>
            <mat-card class="example-card">
                <mat-card-header style="text-align: center;">
                    <table class="table2">
                        <tr>
                            <td>
                                <img src="img/pic1.jpeg" alt="Foto perfil 2" style="max-width: 100%;">
                            </td>
                            <td>
                                <mat-card-title>
                                    <h6>Alisson Rocío Palacios Sapón</h6>
                                </mat-card-title>
                                <mat-card-subtitle>Estudiante de Ingeniería en Sistemas</mat-card-subtitle>
                            </td>
                        </tr>
                    </table>

                </mat-card-header>

                <mat-card-content>
                    <p>
                        <small>
                            <b>Teléfono: </b>41611828 <br>
                            <b>Email: </b>alissonpalacios40&#64;gmail.com <br>
                            <a href="https://github.com/rociopalacios24/ExamenFinal.git"><b>Repositorio: </b>https://github.com/rociopalacios24/ExamenFinal.git</a>
                        </small>
                    </p>
                    <p>
                        <small>
                            Me considero una persona autodidacta, capaz de realizar las tareas que se me sean
                            asignadas; me gusta trabajar en equipo y lograr los retos que encuentre con una buena
                            actitud
                            a la hora de realizar mi trabajo.
                        </small>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a routerLink="/cv" mat-flat-button color="primary">Ver CV</a>
                </mat-card-actions>
            </mat-card>
        </td>
        <td>
            <table class="table">
                <tr>
                    <th>Proyectos</th>
                    <th>Habilidades técnicas</th>
                    <th>Tecnologías, lenguajes y herramientas</th>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <small>
                            Mi experiencia en proyectos de <br>
                            programación, ha sido únicamente <br>
                            la adquirida dentro de la carrera. <br>
                            Entre estos puedo mencionar:<br>


                            <ul type=”A” style="text-align: left;">
                                <li>
                                    Sistema de control de planilla, realizando<br>
                                    validaciones de suspensión de empelados, <br>
                                    bajas, altas. Realizando cálculos de control <br>
                                    de iggs, descuentos, bonificaciones, etc.
                                </li>
                                <li>
                                    Sistema de gestión de citas en hospitales, <br>
                                    en la cual se valida la disponibilidad de <br>
                                    doctores especializados en la enfermedad o <br>
                                    tratamiento a aplicar.
                                </li>
                            </ul>
                        </small>
                    </td>
                    <td style="text-align: center;">
                        <small>
                            Durante mis estudios y experiencia<br>
                            laboral, he logrado adquirir diferentes<br>
                            habilidades con diversas herramientas,<br>
                            tales como:


                            <ul type=”A” style="text-align: left;">
                                <li>Microsoft Office</li>
                                <li>Matlab</li>
                                <li>SQL</li>
                                <li>Programación</li>
                                <li>Detección de errores</li>
                                <li>HTML</li>
                                <li>Diseño de páginas web</li>
                                <li>Solución de problemas</li>
                                <li>Cálculo</li>

                            </ul>
                        </small>

                    </td>
                    <td style="text-align: center">
                        <table class="table">
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">C++</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="50">50%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">Java</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="45">45%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">Dev-C++</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="60">60%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">Visual Studio Code</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="60">60%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">HTML</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="60">60%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">JavaScript</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="40">40%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">Angular</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="40">40%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">SQL</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="50">50%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">DBeaver</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="60">60%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <label for="file">PostgreSQL</label>
                                </td>
                                <td>
                                    <progress id="file" max="100" value="40">40%</progress>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>





<mat-card class="example-card2">
    <mat-card-content>
        <p>
            <b>Habilidades Blandas:</b><br>
        </p>
        <table class="example-card2">
            <tr style="text-align: center;">
                <td>
                    <p>
                        <img src="img/escuchaActiva.png" alt="Escucha activa"
                            style="max-width: 70%; border-radius: 50%;">
                    </p>
                    <b>Escucha activa</b>
                </td>
                <td>
                    <p>
                        <img src="img/trabajoEquipo.jpg" alt="Trabajo en equipo"
                            style="max-width: 90%; border-radius: 50%;">
                    </p>
                    <b>Trabajo en equipo</b>
                </td>
                <td>
                    <p>
                        <img src="img/tomaDecisiones.jpg" alt="Toma de decisiones"
                            style="max-width: 70%; border-radius: 50%;">
                    </p>
                    <b>Toma de decisiones</b>
                </td>
                <td>
                    <p>
                        <img src="img/negociacion.jpg" alt="Negociacion" style="max-width: 70%; border-radius: 50%;">
                    </p>
                    <b>Negociación</b>
                </td>
            </tr>
        </table>

    </mat-card-content>
</mat-card>



<table class="table">
    <tr>
        <th>Idiomas</th>
        <th>Objetivos</th>
    </tr>
    <tr>
        <td style="text-align: center">
            <label for="file">Español: </label>
            <progress id="file" max="100" value="100">100%</progress>
            <br>
            <label for="file">Nativo</label>
            <br>
            <label for="file">Inglés: </label>
            <progress id="file" max="100" value="20">20%</progress>
            <br>
            <label for="file">Principiante</label>
            <br>
        </td>
        <td style="text-align: center;">
            <small>
                <p>A lo largo de mi vida personal, laboral y estudiantil, he trazado diversas <br>
                    metas que quiero alcanzar, todo esto con la finalizad de desarrollarme mejor <br>
                    como persona en todos los ámbitos de mi vida, por lo cual, puedo mencionar lo siguiente:
                </p>

                <li>Adquitir nuevos conocimientos sobre programación en diversos lenguajes.</li>
                <li>Graduarme de Ingeniería en Sistemas, en la Universidad Mariano Gálvez de Guatemala</li>
                <li>Continuar mis estudios en algún postgrado, actualmente no estoy segura de cuál <br>
                    pero sí quiero continuar con mis estudios luego de graduarme.
                </li>
            </small>
        </td>
    </tr>
</table>


<table class="table">
    <tr>
        <td><b>Aficiones: </b></td>
    </tr>
    <tr>
        <mat-grid-list cols="4" rowHeight="100px">
            @for (tile of tiles; track tile) {
            <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">{{tile.text}}
            </mat-grid-tile>
            }
        </mat-grid-list>
    </tr>
</table>