<mat-card class="example-card">
    <mat-card-header style="text-align: center;">
        <table class="table2">
            <tr>
                <td style="text-align: justify;">
                    <mat-card-title>
                        <h3>Palacios Sapón Alisson Rocío</h3>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p>
                            Fecha de nacimiento: 05 de diciembre de 1999 <br>
                            Zona 11 de San Miguel Petapa <br>
                            CUI: 3050 05685 0117 <br>
                            Teléfono: 41611828 <br>
                            Email: alissonpalacios40&#64;gmail.com
                        </p>
                    </mat-card-subtitle>
                </td>
                <td style="text-align: right;">
                    <img src="img/pic1.jpeg" alt="Foto perfil 2" style="max-width: 30%;">
                </td>
            </tr>
        </table>

    </mat-card-header>

    <mat-card-content>
        <a routerLink="/portfolio" mat-flat-button color="primary">Ver Portfolio</a> 
        <a href="doc/CV_AlissonPalacios.pdf" class="btn" target="_blank" download="CV_AlissonPalacios.pdf">Descargar CV en pdf</a>
        <br>
        <br>
        <h4>Estudios</h4>
        <table>
            <tr>
                <td>
                    <b>2021 a la fecha</b> <br>
                    Villa Nueva, Guatemala
                </td>
                <td>
                    <b>Ingeniería en Sistemas de Información </b><br>
                    Universidad Mariano Gálvez de Guatemala
                </td>
            </tr>
            <tr>
                <td>
                    <b>2017 - 2018</b> <br>
                    Villa Nueva, Guatemala
                </td>
                <td>
                    <b>Ingeniería en Sistemas de Información </b><br>
                    Universidad Mariano Gálvez de Guatemala
                </td>
            </tr>
        </table>

        <br>
        <br>
        <h4>Experiencia Laboral</h4>
        <b>Accesos Globales TATA (2020-2021)</b> <br>
        Operaria y técnica de hardware y software <br>
        Tel.: 6620 9200 <br><br>

        <b>Texaco San Miguel Petapa (2019 - 2020)</b> <br>
        Servicio al cliente y vendedora <br>
        Tel.: 6631 5863 <br><br>

        <b>Pinturas Paleta (2018 - 2019)</b> <br>
        Vendedora y pintora <br>
        Tel.: 5815 7999 <br><br>

        <br>
        <br>
        <h4>Referencias Personales</h4>
        <table>
            <tr>
                <td>
                    <b>Tomás Saquic Sierra</b> <br>
                    Tel.: 5910 7690 <br><br>
                </td>
                <td>
                    <b>Cristian Ariel Paredes López </b> <br>
                    Tel.: 4086 7074 <br><br>
                </td>
                <td>
                    <b>Ventura Rafael Álvarez Ovando </b> <br>
                    Tel.: 4377 3237 <br><br>
                </td>

            </tr>
        </table>

        <br>
        <br>
        <h4>Habilidades</h4>
        <table>
            <tr>
                <td style="vertical-align: top">
                    <li>Calidad de servicio al cliente</li>
                    <li>Manejo de tiempo</li>
                    <li>Comunicación</li>
                    <li>Liderazgo</li>
                </td>
                <td style="vertical-align: top">
                    <li>Microsoft Office</li>
                    <li>Matlab</li>
                    <li>SQL</li>
                    <li>Programación</li>
                    <li>Detección de errores</li>
                    <li>HTML</li>
                    <li>Diseño de páginas web</li>
                    <li>Solución de problemas</li>
                    <li>Cálculo</li>
                </td>
                <td style="vertical-align: top">
                    <li>C++</li>
                    <li>Java</li>
                    <li>Dev-C++</li>
                    <li>Visual Studio Code</li>
                    <li>HTML</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>SQL</li>
                    <li>DBeaver</li>
                    <li>PostgreSQL</li>
                </td>
            </tr>
        </table>

        <br>
        <br>
        <h4>Información personal e intereses</h4>
        Me considero una persona autodidacta, capaz de realizar las tareas que se me sean
        asignadas; me gusta trabajar en equipo y lograr los retos que encuentre con una buena actitud
        a la hora de realizar mi trabajo. Busco la forma de aprender más cada día sobre los
        diferentes temas relacionados a la programación, bases de datos, etc., para poder
        aumentar mis conocimientos en los mismos y mejorar mis habilidades.

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>